body {
	background-color: seagreen;
}



.header {
	display: flex;
    width: 80%;
    height: 30px;
    background-color: cadetblue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    max-width: 900px;
    border: 4px solid black;

}


.main-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    border: 4px solid black;
    border-radius: 15px;
    margin: auto;
    background-color: yellow;
    max-width: 900px;
    max-height: 1000px;
}


.card {
    padding: 10px;
    width: 180px;
    height: 180px;
    background-color : green;
    border: 5px solid black;
    border-radius: 15px;
    margin: 5px;
}


.card > img {
    display: block;
    width: 180px;
}

img.hidden {
    visibility: hidden;
}

.reset {

}



.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 85%;
	position: relative;
	transition: all 5s ease-in-out;
	font-family: 'Gloria Hallelujah', cursive;
}

.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #E5F720;
}

.popup .content-1,
.content-2 {
	max-height: 30%;
	overflow: auto;
	text-align: center;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}

#starRating li {
	display: inline-block;
}

#play-again {
	background-color: #141214;
	padding: 0.7rem 1rem;
	font-size: 1.1rem;
	display: block;
	margin: 0 auto;
	width: 50%;
	font-family: 'Gloria Hallelujah', cursive;
	color: #ffffff;
	border-radius: 5px;
}

.move_count {
    display: inline-block;
    background-color: white;
    margin-left: 400px;
    font-size: large;
}

.timer {
    display: inline-block;
    background-color: white;
    font-size: large;
}
